fastapi
uvicorn
loguru
piper-tts
coqui-tts[languages]
langdetect
pyyaml
# Creating an environment where deepspeed works is complex, for now it will be disabled by default.
#deepspeed

torch; sys_platform != "darwin"
torchaudio; sys_platform != "darwin"
# for MPS accelerated torch on Mac - doesn't work yet, incomplete support in torch and torchaudio
torch; --index-url https://download.pytorch.org/whl/cpu; sys_platform == "darwin"
torchaudio; --index-url https://download.pytorch.org/whl/cpu; sys_platform == "darwin"

# ROCM (Linux only) - use requirements.amd.txt
