fastapi
uvicorn
loguru
piper-tts
coqui-tts[languages]
langdetect
pyyaml
# Creating an environment where deepspeed works is complex, for now it will be disabled by default.
#deepspeed
torch; --index-url https://download.pytorch.org/whl/rocm5.7; sys_platform == "linux"
torchaudio; --index-url https://download.pytorch.org/whl/rocm5.7; sys_platform == "linux"